doctype
html(lang="zh-CN")
    head
        include head

    body
        div#stage.container
            div.row
                include sidebar
                div#main-container.col-sm-9.col-xs-12.main-container.invisible

                    block content
                    div.visible-xs.site-bottom-footer
                        include footer


        script(src= 'https://cdn.jsdelivr.net/npm/jquery@3.1.0/dist/jquery.min.js')
        script(src= 'https://cdn.jsdelivr.net/gh/twbs/bootstrap/dist/js/bootstrap.min.js')
        //script(src= 'https://cdn.jsdelivr.net/npm/jquery-migrate@1.2.1/jquery-migrate.min.js')
        //script(src= 'https://cdn.jsdelivr.net/npm/jquery.appear@0.3.3/jquery.appear.min.js')
        //script(src= url_for('js/google-analytics.js'))
        script(src= 'https://cdn.jsdelivr.net/gh/lz233/lz233.github.io/js/typography.js')

